<div class="side-bar-menu fixed-left ">
  <nav>
    <ul>
      <li><%= link_to "2019",   '#' %></li>
        <ul>
            <li><%= link_to "January",   '#' %></li>
            <li><%= link_to "Febrary",   '#' %></li>
            <li><%= link_to "March",   '#' %></li>
            <li><%= link_to "April",   '#' %></li>
            <li><%= link_to "May",   '#' %></li>
            <li><%= link_to "June",   '#' %></li>
        </ul>
      <li><%= link_to "2018", '#' %></li>
        <ul>
            <li><%= link_to "January",   '#' %></li>
            <li><%= link_to "Febrary",   '#' %></li>
            <li><%= link_to "March",   '#' %></li>
            <li><%= link_to "April",   '#' %></li>
            <li><%= link_to "May",   '#' %></li>
            <li><%= link_to "June",   '#' %></li>
        </ul>
      <li><a href="#">INSTAGRAM</a></li>
    </ul>
  </nav>
</div>